body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#preloader
{
   background: #000000 url("images/red_load.gif") no-repeat center center;
   bottom: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 99999;
}
#wb_Picture2
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Picture2
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   object-fit: contain;
   display: inline-block;
   width: 100%;
   height: 100%;
   vertical-align: top;
}
#wb_header
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
}
#header > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1, #header > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1, #header > .row > .col-2
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#header > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 75%;
   text-align: left;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#header > .row > .col-1, #header > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#header-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: linear-gradient(to top, #000000 0%, rgba(0,0,0,0.00) 100%);
}
.ThemeableMenu1 .hide 
{
   display: none!important;
}
.ThemeableMenu1 .show 
{
   display: block!important;
}
.ThemeableMenu1 .hidden
{
   display: none!important;
   visibility: hidden!important;
}
.ThemeableMenu1 .nav
{
   font-family: Arial;
   font-weight: bold;
   font-size: 15px;
   font-style: normal;
   color: #F02025;
   text-align: left;
}
#ThemeableMenu1, .ThemeableMenu1 .nav, .ThemeableMenu1 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.ThemeableMenu1 .nav:before,
.ThemeableMenu1 .nav:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .nav:after 
{
   clear: both;
}
.ThemeableMenu1 .nav a 
{
   text-decoration: none;
}
.ThemeableMenu1 .nav ul
{
   margin-top: 0;
   margin-bottom: 10px;
}
.ThemeableMenu1 .nav ul ul
{
   margin-bottom: 0;
}
.ThemeableMenu1 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.ThemeableMenu1 .container:before,
.ThemeableMenu1 .container:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .container:after 
{
   clear: both;
}
.ThemeableMenu1 .collapse 
{
   display: none;
}
.ThemeableMenu1 .collapse.in 
{
   display: block;
}
.ThemeableMenu1 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   -webkit-transition: height .35s ease;
   transition: height .35s ease;
}
.ThemeableMenu1 .caret 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.ThemeableMenu1 .dropdown 
{
   position: relative;
}
.ThemeableMenu1 .dropdown-toggle:focus 
{
   outline: 0;
}
.ThemeableMenu1 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 15px;
   background-color: #000000;
   background-image: none;
   border: 1px solid rgba(240,32,37,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.ThemeableMenu1 .dropdown-menu .divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #F02025;
}
.ThemeableMenu1 .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #F02025;
   white-space: nowrap;
}
.ThemeableMenu1 .dropdown-menu>li>a:hover,
.ThemeableMenu1 .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #000000;
   background-color: #F02025;
   background-image: none;
}
.ThemeableMenu1 .dropdown-menu>.active>a,
.ThemeableMenu1 .dropdown-menu>.active>a:hover,
.ThemeableMenu1 .dropdown-menu>.active>a:focus 
{
   color: #fff;
   text-decoration: none;
   outline: 0;
   background-color: #343A40;
}
.ThemeableMenu1 .open>.dropdown-menu 
{
   display: block;
}
.ThemeableMenu1 .open>a 
{
   outline: 0;
}
.ThemeableMenu1 .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.ThemeableMenu1 .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.ThemeableMenu1 .nav>li 
{
   position: relative;
   display: block;
}
.ThemeableMenu1 .nav>li>a 
{
   position: relative;
   display: block;
   padding: 15px 15px 15px 15px;
}
.ThemeableMenu1 .nav .open>a,
.ThemeableMenu1 .nav .open>a:hover,
.ThemeableMenu1 .nav .open>a:focus 
{
   background-color: #ccc;
   border-color: #343A40;
}
.ThemeableMenu1 .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #F02025;
}
.ThemeableMenu1 .nav>li>a>img 
{
   max-width: none;
}
.ThemeableMenu1 .nav .caret 
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.ThemeableMenu1
{
   position: relative;
   border: 1px solid transparent;
   background-color: transparent;
   background-image: none;
}
.ThemeableMenu1:before,
.ThemeableMenu1:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1:after 
{
   clear: both;
}
.ThemeableMenu1 .navbar-header:before,
.ThemeableMenu1 .navbar-header:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .navbar-header:after 
{
   clear: both;
}
.ThemeableMenu1-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.ThemeableMenu1-navbar-collapse:before,
.ThemeableMenu1-navbar-collapse:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1-navbar-collapse:after 
{
   clear: both;
}
.ThemeableMenu1-navbar-collapse.in 
{
   overflow-y: auto;
}
.ThemeableMenu1 .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 15px 10px 14px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.ThemeableMenu1 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.ThemeableMenu1 .navbar-toggle .icon-bar+.icon-bar 
{
   margin-top: 4px;
}
.ThemeableMenu1 .navbar-nav 
{
   margin: 6px -15px;
}
.ThemeableMenu1 .navbar-nav>li>.dropdown-menu 
{
   margin-top: 0;
}
.ThemeableMenu1 .navbar-nav>li>a 
{
   color: #F02025;
}
.ThemeableMenu1 .navbar-nav>li>a:hover,
.ThemeableMenu1 .navbar-nav>li>a:focus 
{
   background-color: #F02025;
   background-image: none;
   color: #000000;
   text-decoration: none;
}
.ThemeableMenu1 .navbar-nav>.active>a,
.ThemeableMenu1 .navbar-nav>.active>a:hover,
.ThemeableMenu1 .navbar-nav>.active>a:focus 
{
   color: #000000;
   background-color: #F02025;
   background-image: none;
}
.ThemeableMenu1 .navbar-toggle 
{
   border: 1px solid rgba(240,32,37,0.10);
}
.ThemeableMenu1 .navbar-toggle:hover,
.ThemeableMenu1 .navbar-toggle:focus 
{
   background-color: transparent;
}
.ThemeableMenu1 .navbar-toggle .icon-bar 
{
   background-color: #FFFFFF;
}
.ThemeableMenu1-navbar-collapse
{
   border-color: rgba(240,32,37,1.00);
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #000000;
   border-bottom-color: #000000;
}
.ThemeableMenu1 .navbar-nav>.open>a,
.ThemeableMenu1 .navbar-nav>.open>a:hover,
.ThemeableMenu1 .navbar-nav>.open>a:focus 
{
   background-color: #F02025;
   background-image: none;
   color: #000000;
}
.ThemeableMenu1 .navbar-nav>.open>a .caret,
.ThemeableMenu1 .navbar-nav>.open>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #000000;
   border-bottom-color: #000000;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a .caret 
{
   border-top-color: #F02025;
   border-bottom-color: #F02025;
}
.ThemeableMenu1 .navbar-link 
{
   color: #F02025;
}
.ThemeableMenu1 .navbar-link:hover 
{
   color: #000000;
}
.ThemeableMenu1 .navbar-header
{
   color: #FFFFFF;
   height: 47px;
}
@media (min-width: 480px) 
{
.ThemeableMenu1 .navbar-right .dropdown-menu 
{
   right: 0;
   left: auto;
}
.ThemeableMenu1 .navbar-header 
{
   float: left;
}
.ThemeableMenu1-navbar-collapse 
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.ThemeableMenu1-navbar-collapse.collapse 
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.ThemeableMenu1-navbar-collapse.in 
{
   overflow-y: auto;
}
.ThemeableMenu1 .navbar-toggle
{
   display: none;
}
.ThemeableMenu1 .navbar-nav 
{
   float: right;
   margin: 0;
}
.ThemeableMenu1 .navbar-nav>li 
{
   float: left;
}
.ThemeableMenu1 .container>.navbar-header,
.ThemeableMenu1 .container>.ThemeableMenu1-navbar-collapse 
{
   margin-right: 0;
   margin-left: 0;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #F02025;
   border-bottom-color: #F02025;
}
}
@media (max-width: 480px) 
{
.ThemeableMenu1 
{
   border-color: rgba(0,0,0,0.00);
}
.ThemeableMenu1 .navbar-nav 
{
   margin: 0;
   background-color: #000000;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav .open .dropdown-menu 
{
   position: static;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.ThemeableMenu1 .navbar-nav .open .dropdown-menu>li>a,
.ThemeableMenu1 .navbar-nav .open .dropdown-menu .dropdown-header 
{
   padding: 5px 15px 5px 25px;
}
.ThemeableMenu1 .navbar-nav .open .dropdown-menu>li>a 
{
   line-height: 20px;
}
.ThemeableMenu1 .navbar-nav .open .dropdown-menu>li>a:hover,
.ThemeableMenu1 .navbar-nav .open .dropdown-menu>li>a:focus 
{
   background-image: none;
}
}
@media (min-width: 480px) 
{
.ThemeableMenu1 
{
   background-color: transparent;
   background-image: none;
   border-color: rgba(0,0,0,0.00);
   border-radius: 0px;
}
.ThemeableMenu1 .navbar-nav>li>a 
{
   color: #FFFFFF;
}
.ThemeableMenu1 .navbar-nav>li>a:hover,
.ThemeableMenu1 .navbar-nav>li>a:focus 
{
   color: #F02025;
   background-color: transparent;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav>.active>a,
.ThemeableMenu1 .navbar-nav>.active>a:hover,
.ThemeableMenu1 .navbar-nav>.active>a:focus 
{
   color: #F02025;
   background-color: transparent;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav>.open>a,
.ThemeableMenu1 .navbar-nav>.open>a:hover,
.ThemeableMenu1 .navbar-nav>.open>a:focus 
{
   background-color: transparent;
   background-image: none;
   color: #F02025;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret 
{
   border-top-color: #F02025;
   border-bottom-color: #F02025;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.ThemeableMenu1 .navbar-nav > li.active > a > .caret,
.ThemeableMenu1 .navbar-nav > li.active > a:hover > .caret,
.ThemeableMenu1 .navbar-nav > li.active > a:focus > .caret
{
   border-top-color: #F02025;
   border-bottom-color: #F02025;
}
.ThemeableMenu1 .navbar-nav>.open>a .caret,
.ThemeableMenu1 .navbar-nav>.open>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #F02025;
   border-bottom-color: #F02025;
}
.ThemeableMenu1 .navbar-link 
{
   color: #FFFFFF;
}
.ThemeableMenu1 .navbar-link:hover 
{
   color: #fff;
}
}
#ThemeableMenu1 i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#ThemeableMenu1 li
{
   color: #A2A2A2;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#ThemeableMenu1 li:hover
{
   color: #F02025;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#ThemeableMenu1 li a
{
   color: #A2A2A2;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#ThemeableMenu1 li a:hover
{
   color: #F02025;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#wb_welcome
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 100vh;
   background-color: #000000;
   background-image: url(images/earth-.jpg);
   background-repeat: repeat;
   background-position: left top;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
}
#welcome
{
   box-sizing: border-box;
   height: 100vh;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 50px 0px 50px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#welcome > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#welcome > .col-1
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#welcome > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 100%;
   max-width: 100%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#welcome > .col-1
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#welcome-divider-bottom
{
   overflow: hidden;
   position: absolute;
   line-height: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 50px;
}
#welcome-divider-bottom svg
{
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   left: 50%;
   transform: translateX(-50%); 
}
#welcome-divider-bottom .divider-fill
{
   fill: #F02025;
   transform-origin: center;
   transform: rotateY(0deg);
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 5px 0px 10px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_services
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background: linear-gradient(to top, rgba(0,0,0,0.69) 0%, #F02025 100%);
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#services
{
   box-sizing: border-box;
   padding: 40px 15px 200px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#services > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#services > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#services > .row > .col-1
{
   float: left;
}
#services > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#services:before,
#services:after,
#services .row:before,
#services .row:after
{
   display: table;
   content: " ";
}
#services:after,
#services .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#services > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#services-divider-bottom
{
   overflow: hidden;
   position: absolute;
   line-height: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 50px;
   transform: scaleY(-1.0);
}
#services-divider-bottom svg
{
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   left: 50%;
   transform: translateX(-50%); 
}
#services-divider-bottom .divider-fill
{
   fill: #F02025;
   transform-origin: center;
   transform: rotateY(0deg);
}
#wb_service-text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_service-text div
{
   text-align: center;
}
#StickyLayer
{
   background-color: transparent;
   opacity: 0.77;
}
#StickyLayer-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: linear-gradient(to top, #F02025 0%, rgba(240,32,37,0.00) 100%);
}
#wb_up-arrow
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   border-radius: 50px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_up-arrow:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
}
#up-arrow
{
   height: 24px;
   width: 24px;
}
#up-arrow i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 14px;
}
#wb_up-arrow:hover i
{
   color: #000000;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 122px;
   height: 46px;
   vertical-align: top;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #070602;
   background: linear-gradient(to top, #070602 0%, #F02025 100%);
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 50px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid2 > .row > .col-1 > .col-1-padding
{
   padding: 25px 0px 25px 0px;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 25px 0px 25px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text7
{
   color: #FFFFFF;
   font-family: "Segoe UI Semibold";
   font-weight: normal;
   font-size: 48px;
   line-height: 64px;
}
#wb_Text7 div
{
   text-align: center;
}
#wb_features
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #070602;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#features
{
   box-sizing: border-box;
   padding: 0px 15px 75px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#features > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#features > .row > .col-1, #features > .row > .col-2, #features > .row > .col-3, #features > .row > .col-4
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#features > .row > .col-1, #features > .row > .col-2, #features > .row > .col-3, #features > .row > .col-4
{
   float: left;
}
#features > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: center;
}
#features > .row > .col-1 > .col-1-padding
{
   padding: 25px 0px 25px 0px;
}
#features > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: center;
}
#features > .row > .col-2 > .col-2-padding
{
   padding: 25px 0px 25px 0px;
}
#features > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: center;
}
#features > .row > .col-3 > .col-3-padding
{
   padding: 25px 0px 25px 0px;
}
#features > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: center;
}
#features > .row > .col-4 > .col-4-padding
{
   padding: 25px 0px 25px 0px;
}
#features:before,
#features:after,
#features .row:before,
#features .row:after
{
   display: table;
   content: " ";
}
#features:after,
#features .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#features > .row > .col-1, #features > .row > .col-2, #features > .row > .col-3, #features > .row > .col-4
{
   float: none;
   width: 100% !important;
}
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #F02025;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #F02025;
}
#FontAwesomeIcon1
{
   height: 73px;
   width: 88px;
}
#FontAwesomeIcon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 73px;
   line-height: 73px;
   vertical-align: middle;
   width: 72px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #F02025;
}
#wb_FontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #F02025;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #F02025;
}
#FontAwesomeIcon2
{
   height: 73px;
   width: 88px;
}
#FontAwesomeIcon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 73px;
   line-height: 73px;
   vertical-align: middle;
   width: 66px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #F02025;
}
#wb_FontAwesomeIcon4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #F02025;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon4:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #F02025;
}
#FontAwesomeIcon4
{
   height: 73px;
   width: 88px;
}
#FontAwesomeIcon4 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 73px;
   line-height: 73px;
   vertical-align: middle;
   width: 77px;
}
#wb_FontAwesomeIcon4:hover i
{
   color: #F02025;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #A68C25;
   box-sizing: border-box;
   margin: 0;
   padding: 20px 0px 10px 0px;
   text-align: center;
}
#Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #A68C25;
   box-sizing: border-box;
   margin: 0;
   padding: 20px 0px 10px 0px;
   text-align: center;
}
#Heading2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #A68C25;
   box-sizing: border-box;
   margin: 0;
   padding: 20px 0px 10px 0px;
   text-align: center;
}
#Heading3
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2
{
   color: #FFFFFF;
   font-family: "Segoe UI Semibold";
   font-weight: normal;
   font-size: 16px;
   line-height: 23px;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3
{
   color: #FFFFFF;
   font-family: "Segoe UI Semibold";
   font-weight: normal;
   font-size: 17px;
   line-height: 24px;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text4
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 18px;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_FontAwesomeIcon3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #F02025;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon3:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #F02025;
}
#FontAwesomeIcon3
{
   height: 73px;
   width: 88px;
}
#FontAwesomeIcon3 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 73px;
   line-height: 73px;
   vertical-align: middle;
   width: 66px;
}
#wb_FontAwesomeIcon3:hover i
{
   color: #F02025;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #A68C25;
   box-sizing: border-box;
   margin: 0;
   padding: 20px 0px 10px 0px;
   text-align: center;
}
#Heading4
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text5
{
   color: #FFFFFF;
   font-family: "Segoe UI Semibold";
   font-weight: normal;
   font-size: 16px;
   line-height: 23px;
}
#wb_Text5 div
{
   text-align: center;
}
#wb_banner1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#banner1
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 50px 0px 50px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#banner1 > .col-1, #banner1 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#banner1 > .col-1, #banner1 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#banner1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
#banner1 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#banner1 > .col-1, #banner1 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_banner2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #F02025;
   background: linear-gradient(to top, rgba(240,32,37,0.69) 0%, #000000 100%);
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#banner2
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 100px 0px 5px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#banner2 > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#banner2 > .col-1
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#banner2 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 100%;
   max-width: 100%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#banner2 > .col-1
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #18191A;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 15px 15px 5px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#Button2
{
   border: 0px solid #FFFFFF;
   border-radius: 20px;
   background-color: #428BCA;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   margin: 15px 0px 0px 0px;
}
#Editbox4
{
   border: 1px solid #FFFFFF;
   border-radius: 20px;
   background-color: #18191A;
   background-image: none;
   color :#FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   box-sizing: border-box;
   line-height: 24px;
   padding: 8px 8px 8px 10px;
   margin: 0px 0px 10px 0px;
   text-align: left;
}
#Editbox5
{
   border: 1px solid #FFFFFF;
   border-radius: 20px;
   background-color: #18191A;
   background-image: none;
   color :#FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   box-sizing: border-box;
   line-height: 24px;
   padding: 8px 8px 8px 10px;
   margin: 0px 0px 10px 0px;
   text-align: left;
}
#Editbox6
{
   border: 1px solid #FFFFFF;
   border-radius: 20px;
   background-color: #18191A;
   background-image: none;
   color :#FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   box-sizing: border-box;
   line-height: 24px;
   padding: 8px 8px 8px 10px;
   margin: 0px 0px 10px 0px;
   text-align: left;
}
#wb_Heading10
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: center;
}
#Heading10
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_location-icon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_location-icon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#location-icon1
{
   height: 48px;
   width: 38px;
}
#location-icon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 38px;
   line-height: 48px;
   vertical-align: middle;
   width: 31px;
}
#wb_location-icon1:hover i
{
   color: #F02025;
}
#wb_location-icon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_location-icon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#location-icon2
{
   height: 48px;
   width: 38px;
}
#location-icon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 38px;
   line-height: 48px;
   vertical-align: middle;
   width: 31px;
}
#wb_location-icon2:hover i
{
   color: #F02025;
}
#wb_location-icon3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_location-icon3:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#location-icon3
{
   height: 48px;
   width: 38px;
}
#location-icon3 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 38px;
   line-height: 48px;
   vertical-align: middle;
   width: 37px;
}
#wb_location-icon3:hover i
{
   color: #F02025;
}
#wb_location-icon4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_location-icon4:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#location-icon4
{
   height: 48px;
   width: 38px;
}
#location-icon4 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 38px;
   line-height: 48px;
   vertical-align: middle;
   width: 31px;
}
#wb_location-icon4:hover i
{
   color: #F02025;
}
#wb_location-icon5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_location-icon5:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#location-icon5
{
   height: 48px;
   width: 38px;
}
#location-icon5 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 38px;
   line-height: 48px;
   vertical-align: middle;
   width: 31px;
}
#wb_location-icon5:hover i
{
   color: #F02025;
}
#Breadcrumb1
{
   padding: 8px 15px 8px 0px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: Arial;
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb1 > li
{
   display: inline-block;
   font-size: 20px;
}
#Breadcrumb1 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Breadcrumb1 a:hover
{
   color: #F02025;
   text-decoration: underline;
}
#Breadcrumb1 > .active
{
   color: #F02025;
}
#Breadcrumb1 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#Breadcrumb1 li i
{
   font-size: 20px;
   width: 22px;
}
#Breadcrumb2
{
   padding: 8px 15px 8px 0px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: Arial;
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb2 > li
{
   display: inline-block;
   font-size: 19px;
}
#Breadcrumb2 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Breadcrumb2 a:hover
{
   color: #F02025;
   text-decoration: underline;
}
#Breadcrumb2 > .active
{
   color: #F02025;
}
#Breadcrumb2 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#Breadcrumb2 li i
{
   font-size: 19px;
   width: 21px;
}
#Breadcrumb3
{
   padding: 10px 15px 8px 0px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: Arial;
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb3 > li
{
   display: inline-block;
   font-size: 19px;
}
#Breadcrumb3 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Breadcrumb3 a:hover
{
   color: #F02025;
   text-decoration: underline;
}
#Breadcrumb3 > .active
{
   color: #F02025;
}
#Breadcrumb3 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#Breadcrumb3 li i
{
   font-size: 19px;
   width: 21px;
}
#wb_footer
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #111007;
   background: linear-gradient(to top, #111007 0%, #F02025 100%);
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#footer
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
}
#footer > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#footer > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#footer > .row > .col-1
{
   float: left;
}
#footer > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#footer:before,
#footer:after,
#footer .row:before,
#footer .row:after
{
   display: table;
   content: " ";
}
#footer:after,
#footer .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#footer > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 25px 0px 25px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text16
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 17px;
   line-height: 20px;
}
#wb_Text16 div
{
   text-align: center;
}
#wb_FontAwesomeIcon6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #4F4F4F;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   -webkit-animation: slide-down-in 2000ms linear 1000ms infinite normal both;
   -moz-animation: slide-down-in 2000ms linear 1000ms infinite normal both;
   animation: slide-down-in 2000ms linear 1000ms infinite normal both;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon6:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon6
{
   height: 40px;
   width: 42px;
}
#FontAwesomeIcon6 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 40px;
   line-height: 40px;
   vertical-align: middle;
   width: 25px;
}
#wb_FontAwesomeIcon6:hover i
{
   color: #F02025;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text8 div
{
   text-align: justify;
}
#wb_banner1-text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_banner1-text div
{
   text-align: justify;
}
#wb_Picture1
{
   margin: 0;
   vertical-align: top;
}
#Picture1
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 264px;
   height: 169px;
   vertical-align: top;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9
{
   color: #FFFFFF;
   font-family: "Segoe UI Semibold";
   font-weight: normal;
   font-size: 35px;
   line-height: 46px;
}
#wb_Text9 p, #wb_Text9 ul
{
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #18191A;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: left;
}
#LayoutGrid3 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#Button3
{
   border: 0px solid #FFFFFF;
   border-radius: 20px;
   background-color: #FF0000;
   background: linear-gradient(to top, #FF0000 0%, #000000 100%);
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   margin: 15px 0px 0px 0px;
}
#Editbox7
{
   border: 1px solid #FFFFFF;
   border-radius: 20px;
   background-color: #18191A;
   background-image: none;
   color :#FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   box-sizing: border-box;
   line-height: 24px;
   padding: 8px 8px 8px 10px;
   margin: 0px 0px 10px 0px;
   text-align: left;
}
#Editbox7::placeholder
{
   color: #851817;
   opacity: 1;
}
#Editbox7::-ms-input-placeholder
{
   color: #851817;
}
#Editbox8
{
   border: 1px solid #FFFFFF;
   border-radius: 20px;
   background-color: #18191A;
   background-image: none;
   color :#FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   box-sizing: border-box;
   line-height: 24px;
   padding: 8px 8px 8px 10px;
   margin: 0px 0px 10px 0px;
   text-align: left;
}
#Editbox8::placeholder
{
   color: #851817;
   opacity: 1;
}
#Editbox8::-ms-input-placeholder
{
   color: #851817;
}
#Editbox9
{
   border: 1px solid #FFFFFF;
   border-radius: 20px;
   background-color: #18191A;
   background-image: none;
   color :#FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   box-sizing: border-box;
   line-height: 24px;
   padding: 8px 8px 8px 10px;
   margin: 0px 0px 10px 0px;
   text-align: left;
}
#Editbox9::placeholder
{
   color: #851817;
   opacity: 1;
}
#Editbox9::-ms-input-placeholder
{
   color: #851817;
}
#particles1
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
